    @{
    ViewBag.Title = "Home Page";
}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />

<link href="~/Content/Style.css" rel="stylesheet" />

<header class="h-img ">
    <h3>@ViewBag.Message</h3>

    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 text-center">
                <!-- <h1 class="font-weight-light">Vertically Centered Masthead Content</h1>
            <p class="lead">A great starter layout for a landing page</p> -->
                <div class="booking-box">
                    <h2 class="margin-25">Welcome to The Relic Group</h2>
                    <h6>
                        Find Luxury Hotels and Resorts for your Next Vacation

                    </h6>
                    <p class="margin-25">
                        Relic Group is an award-winning international travel and lifestyle brand offering extraordinary experiences and
                        exclusive curated entertainment in the world’s most beautiful locations.

                    </p>
                    <button type="button" class="btn custom-btn">@Html.ActionLink("Our Locations", "Index", "Resorts")</button>


                </div>

            </div>
        </div>
    </div>
</header>
<script>
    $(function () {
        $("#datepicker-12").datepicker();
        $("#datepicker-12").datepicker("setDate", "10w+1");
    });
</script>